
<div><a  class="btn btn-primary createnew" id="new{{ option }}">Create new {{ option }}</a></div>
<style>

    td {

  overflow:auto;         /* <- this does seem to be required */
  text-overflow: clip;

}
    td::-webkit-scrollbar {
 display: none;
}
</style>
<table id="example2" class="table  table-hover table-condensed  " style="width: 100%;table-layout: fixed;   " >
    <thead>
    <tr>

        {% for key in data.0 %}
            <th >{{ key }}</th>{% endfor %}
    </tr>

    </thead>

    <tbody>{% for oh in data %}
        <tr>

            {% for key,value in oh.items %}

             {% if forloop.first %}  <td data-toggle="tooltip" data-placement="top" title="{{ value }}">
             {{ value }}
                 <table>
                     <tr class="text-center">
                         <td> <a href="#app" id="{{ value }}" class="text-primary updobj">
                             <i class="fa fa-fw fa-edit"></i> Edit</a> </td>
                         <td><a href="#app" class="text-danger dellobj" id="{{ value }}"
                   ><i class="fa fa-fw fa-trash "></i>
                    Delete</a></td>

                     </tr>
                 </table>

           </td>{% else %}
                <td data-toggle="tooltip" data-placement="top" title="{{ value }}">{{ value }}</td>
{% endif %}
          {% endfor %}
        </tr>
    {% endfor %}</tbody>
    <tfoot>


    </tfoot>
</table>
 {% if option %}
     {{ option }}
    {% ifequal option 'application' %}
     fff
     {% endifequal %}

{% endif %}
{% csrf_token %}
<script>

    $(".createnew").on('click', function () {

        alert($(this).attr('id'));
        $("#modalLRForm").modal();
        $("#modal-title").html("create new  {{ option }} ");
             var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
 //alert(opt+"   ddd  "+csrftoken)
       $.ajax({
            url: '{{ link }}',
            type: "POST",
           headers: {'X-CSRFToken': csrftoken},
            data: {'obj':"{{ option }}",'id':$(".updobj").attr("id")},
            dataType: "text",
            success: function (data) {
                // do something
  $("#diagshow").html(data);


            }
        });

    });
    /////////////////////////////////////////////////////////////
     $('.dellobj').on('click', function () {
         var x=  confirm('Are you sure to delete this row?');
         if (x==false){}else{
       var opt=$(this).attr("id");
        alert(opt)
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
 //alert(opt+"   ddd  "+csrftoken)
             $("#modalLRForm").modal();
        $("#modal-title").html("delete  {{ option }} ");
  $.ajax({
            url: "{{ linkdel }}",
            type: "POST",
           headers: {'X-CSRFToken': csrftoken},
            data: {'id':opt},
            dataType: "text",
            success: function (data) {
                // do something
                alert(data)
  $("#diagshow").html(data);


            }
        });
    }});
     /////////////////////////////////////////////////////////////////////
        $('.updobj').on('click', function () {
       var opt=$(this).attr("id");
        alert(opt)

    $("#modalLRForm").modal();
        $("#modal-title").html("update  {{ option }} ");
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
 //alert(opt+"   ddd  "+csrftoken)
       $.ajax({
            url: "{{ linkupd }}",
            type: "POST",
           headers: {'X-CSRFToken': csrftoken},
            data: {'obj':"{{ option }}",'pk':opt},
            dataType: "text",
            success: function (data) {
                // do something
             //   alert(data)
  $("#diagshow").html(data);


            }
        });
    });

     /////////////////////////////////////////////////////////////////////


</script>


<script>

    $(document).ready(function () {
  var table = $('#example2').dataTable( {
  "columnDefs": [
    { "width": "20%", "targets": 0 }
  ]
} );

 });</script>
