{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="">
    <!-- Author Meta -->
    <meta name="author" content="ayoub benayache">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>MsM Builder</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">


    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="{% static "css/linearicons.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
     <link href="../static/css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
<div id="top"></div>
<!-- Start Header Area -->
<header class="default-header">
    <div class="sticky-header">
        <div class="container">
            <div class="d-flex justify-content-between ">
                <div class="logo">
                <button onclick="#app" class="lnr lnr-menu btn-info" id="menu-toggle"></button>
                    MsM <a href="#top" class="smooth"><img width="30" height="30" src="../static/img/llogo.png" alt=""></a>
                </div>



                <div class="right-bar d-flex align-items-center">
                    <nav class="d-flex align-items-center">
                        <ul class="main-menu ">
                            <a href="#top" class="btn">Home</a>
                            <a href="#blog" class="btn">Blog</a>
                            <a href="#contact" class="btn">Contact</a>
                        <li class=" d-flex align-items-center">
                            <style></style>
                        {% if  request.session.username %}
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{{ MEDIA_URL }}{{ request.session.avatar }}" width="30" height="30" class="rounded-circle" alt="User Image">
              <span class="hidden-xs">{{ request.session.username }}</span>
            </a>

    <ul class="dropdown-menu">
        <li class="nav-item dropdown text-center"> <div>
            <a class="nav-link" href="#" id=" ">
            <img src="{{ MEDIA_URL }}{{ request.session.avatar }}" width="120" height="150"  class="rounded-circle" alt="User Image">  </a><br>
 <span class="hidden-xs">{{ request.session.username }}</span><br>
            {{ request.session.user_id }}

<div>&nbsp; </div>

        </div>
        </li>
         <li class="user-footer ">
             <div class="label-primary">
                 <div class="pull-left">
                  <a href="#" class="btn btn-primary btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="logout/" id="ddd" class="btn btn-danger btn-flat">Sign out</a>
                </div>
             </div>

              </li>


    </ul>



                         {% else %}
                        <a href="#" id="connexion"><i class="fa fa-user-circle-o"></i> connexion</a>
                        {% endif %}

                    </li>   </ul>
                        <a href="#" class="mobile-btn"><span class="lnr lnr-menu"></span></a>
                 </nav>

                    <div class="search relative">
                        <span class="lnr lnr-magnifier"></span>
                        <form action="#" class="search-field">
                            <input type="text" placeholder="Search here" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Search here'">
                            <button class="search-submit"><span class="lnr lnr-magnifier"></span></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->


<!-- Start Banner Area -->
<section id="top" class="banner-area ">

    <div class="container" >
        <div class="row fullscreen justify-content-center align-items-center">
            <div id="imgg" class="text-center" style="position: absolute; "><img src="../static/img/llogo.png" width="260px" height="250px" id="i"/>
</div>
            <div class=" " style="top: 30%;position: relative;">
                <div class="banner-content text-center"
                     style="border:solid 2px; padding:20px; border-radius: 120px;background-color: rgba(134, 151, 255, 0.5);">
                    <h1 class="text-uppercase text-white">MsM builds your IoT application easly with few settings </h1>
                    <a href="#app" class="primary-btn">Try it Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start Banner Area -->

<section id="app" class="section-half ">

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="col-sm bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Menu </div>
      <ul  class="list-group "style="width:180px; list-style-type:circle;">
        <li href="#" class="btn-outline-warning btn " id=""> <a href="/applications/building/">building <br> application</a> </li>
        <li href="#" class="btn-outline-success btn btnmenu" id="users">Users</li>
        <li href="#" class="btn-outline-success btn btnmenu" id="projects">Projects</li>
        <li href="#" class="btn-outline-success btn btnmenu" id="applications">Applications</li>
        <li href="#" class="btn-outline-success btn btnmenu" id="components">Components</li>
        <li href="#" class="btn-outline-success btn btnmenu" id="devices">Devices</li>
        <li href="#" class="btn-outline-success btn btnmenu" id="microservices">Microservices</li>
        <li href="#" class="btn-outline-success btn btnmenu" id="data">Data</li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid" id="mainshow"></div>



  <link rel="stylesheet" href="../../static/msmst/style.css">
  <script src="../../static/msmst/storage.js"></script>
  <script src="../../static/msmst/blockly_compressed.js"></script>
  <script src="../../static/msmst/blocks_compressed.js"></script>
  <script src="../../static/msmst/javascript_compressed.js"></script>
  <script src="../../static/msmst/python_compressed.js"></script>
  <script src="../../static/msmst/php_compressed.js"></script>
  <script src="../../static/msmst/lua_compressed.js"></script>
  <script src="../../static/msmst/dart_compressed.js"></script>
  <script src="../../static/msmst/code.js"></script>

  <table width="100%" height="100%">
    <tr>
      <td>
        <h1><a href="https://developers.google.com/blockly/">Blockly</a>&rlm; &gt;
          <a href="../index.html">Demos</a>&rlm; &gt;
          <span id="title">...</span>
        </h1>
      </td>
      <td class="farSide">
        <select id="languageMenu"></select>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <table width="100%">
          <tr id="tabRow" height="1em">
            <td id="tab_blocks" class="tabon">...</td>
            <td class="tabmin">&nbsp;</td>
            <td id="tab_javascript" class="taboff">JavaScript</td>
            <td class="tabmin">&nbsp;</td>
            <td id="tab_python" class="taboff">Python</td>
            <td class="tabmin">&nbsp;</td>
            <td id="tab_php" class="taboff">PHP</td>
            <td class="tabmin">&nbsp;</td>
            <td id="tab_lua" class="taboff">Lua</td>
            <td class="tabmin">&nbsp;</td>
            <td id="tab_dart" class="taboff">Dart</td>
            <td class="tabmin">&nbsp;</td>
            <td id="tab_xml" class="taboff">XML</td>
            <td class="tabmax">
              <button id="trashButton" class="notext" title="...">
                <img src='../../static/msmst/media/1x1.gif' class="trash icon21">
              </button>
              <button id="linkButton" class="notext" title="...">
                <img src='../../static/msmst/media/1x1.gif' class="link icon21">
              </button>
              <button id="runButton" class="notext primary" title="...">
                <img src='../../static/msmst/media/1x1.gif' class="run icon21">
              </button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td height="99%" colspan=2 id="content_area">
      </td>
    </tr>
  </table>
  <div id="content_blocks" class="content"></div>
  <pre id="content_javascript" class="content prettyprint lang-js"></pre>
  <pre id="content_python" class="content prettyprint lang-py"></pre>
  <pre id="content_php" class="content prettyprint lang-php"></pre>
  <pre id="content_lua" class="content prettyprint lang-lua"></pre>
  <pre id="content_dart" class="content prettyprint lang-dart"></pre>
  <textarea id="content_xml" class="content" wrap="off"></textarea>

  <xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
    <category name="%{BKY_CATLOGIC}" colour="%{BKY_LOGIC_HUE}">
      <block type="controls_if"></block>
      <block type="logic_compare"></block>
      <block type="logic_operation"></block>
      <block type="logic_negate"></block>
      <block type="logic_boolean"></block>
      <block type="logic_null"></block>
      <block type="logic_ternary"></block>
    </category>
    <category name="%{BKY_CATLOOPS}" colour="%{BKY_LOOPS_HUE}">
      <block type="controls_repeat_ext">
        <value name="TIMES">
          <shadow type="math_number">
            <field name="NUM">10</field>
          </shadow>
        </value>
      </block>
      <block type="controls_whileUntil"></block>
      <block type="controls_for">
        <value name="FROM">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
        <value name="TO">
          <shadow type="math_number">
            <field name="NUM">10</field>
          </shadow>
        </value>
        <value name="BY">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
      </block>
      <block type="controls_forEach"></block>
      <block type="controls_flow_statements"></block>
    </category>
    <category name="%{BKY_CATMATH}" colour="%{BKY_MATH_HUE}">
      <block type="math_number">
        <field name="NUM">123</field>
      </block>
      <block type="math_arithmetic">
        <value name="A">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
        <value name="B">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
      </block>
      <block type="math_single">
        <value name="NUM">
          <shadow type="math_number">
            <field name="NUM">9</field>
          </shadow>
        </value>
      </block>
      <block type="math_trig">
        <value name="NUM">
          <shadow type="math_number">
            <field name="NUM">45</field>
          </shadow>
        </value>
      </block>
      <block type="math_constant"></block>
      <block type="math_number_property">
        <value name="NUMBER_TO_CHECK">
          <shadow type="math_number">
            <field name="NUM">0</field>
          </shadow>
        </value>
      </block>
      <block type="math_round">
        <value name="NUM">
          <shadow type="math_number">
            <field name="NUM">3.1</field>
          </shadow>
        </value>
      </block>
      <block type="math_on_list"></block>
      <block type="math_modulo">
        <value name="DIVIDEND">
          <shadow type="math_number">
            <field name="NUM">64</field>
          </shadow>
        </value>
        <value name="DIVISOR">
          <shadow type="math_number">
            <field name="NUM">10</field>
          </shadow>
        </value>
      </block>
      <block type="math_constrain">
        <value name="VALUE">
          <shadow type="math_number">
            <field name="NUM">50</field>
          </shadow>
        </value>
        <value name="LOW">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
        <value name="HIGH">
          <shadow type="math_number">
            <field name="NUM">100</field>
          </shadow>
        </value>
      </block>
      <block type="math_random_int">
        <value name="FROM">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
        <value name="TO">
          <shadow type="math_number">
            <field name="NUM">100</field>
          </shadow>
        </value>
      </block>
      <block type="math_random_float"></block>
      <block type="math_atan2">
        <value name="X">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
        <value name="Y">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
      </block>
    </category>
    <category name="%{BKY_CATTEXT}" colour="%{BKY_TEXTS_HUE}">
      <block type="text"></block>
      <block type="text_join"></block>
      <block type="text_append">
        <value name="TEXT">
          <shadow type="text"></shadow>
        </value>
      </block>
      <block type="text_length">
        <value name="VALUE">
          <shadow type="text">
            <field name="TEXT">abc</field>
          </shadow>
        </value>
      </block>
      <block type="text_isEmpty">
        <value name="VALUE">
          <shadow type="text">
            <field name="TEXT"></field>
          </shadow>
        </value>
      </block>
      <block type="text_indexOf">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR">{textVariable}</field>
          </block>
        </value>
        <value name="FIND">
          <shadow type="text">
            <field name="TEXT">abc</field>
          </shadow>
        </value>
      </block>
      <block type="text_charAt">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR">{textVariable}</field>
          </block>
        </value>
      </block>
      <block type="text_getSubstring">
        <value name="STRING">
          <block type="variables_get">
            <field name="VAR">{textVariable}</field>
          </block>
        </value>
      </block>
      <block type="text_changeCase">
        <value name="TEXT">
          <shadow type="text">
            <field name="TEXT">abc</field>
          </shadow>
        </value>
      </block>
      <block type="text_trim">
        <value name="TEXT">
          <shadow type="text">
            <field name="TEXT">abc</field>
          </shadow>
        </value>
      </block>
      <block type="text_print">
        <value name="TEXT">
          <shadow type="text">
            <field name="TEXT">abc</field>
          </shadow>
        </value>
      </block>
      <block type="text_prompt_ext">
        <value name="TEXT">
          <shadow type="text">
            <field name="TEXT">abc</field>
          </shadow>
        </value>
      </block>
    </category>
    <category name="%{BKY_CATLISTS}" colour="%{BKY_LISTS_HUE}">
      <block type="lists_create_with">
        <mutation items="0"></mutation>
      </block>
      <block type="lists_create_with"></block>
      <block type="lists_repeat">
        <value name="NUM">
          <shadow type="math_number">
            <field name="NUM">5</field>
          </shadow>
        </value>
      </block>
      <block type="lists_length"></block>
      <block type="lists_isEmpty"></block>
      <block type="lists_indexOf">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR">{listVariable}</field>
          </block>
        </value>
      </block>
      <block type="lists_getIndex">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR">{listVariable}</field>
          </block>
        </value>
      </block>
      <block type="lists_setIndex">
        <value name="LIST">
          <block type="variables_get">
            <field name="VAR">{listVariable}</field>
          </block>
        </value>
      </block>
      <block type="lists_getSublist">
        <value name="LIST">
          <block type="variables_get">
            <field name="VAR">{listVariable}</field>
          </block>
        </value>
      </block>
      <block type="lists_split">
        <value name="DELIM">
          <shadow type="text">
            <field name="TEXT">,</field>
          </shadow>
        </value>
      </block>
      <block type="lists_sort"></block>
    </category>
    <category name="%{BKY_CATCOLOUR}" colour="%{BKY_COLOUR_HUE}">
      <block type="colour_picker"></block>
      <block type="colour_random"></block>
      <block type="colour_rgb">
        <value name="RED">
          <shadow type="math_number">
            <field name="NUM">100</field>
          </shadow>
        </value>
        <value name="GREEN">
          <shadow type="math_number">
            <field name="NUM">50</field>
          </shadow>
        </value>
        <value name="BLUE">
          <shadow type="math_number">
            <field name="NUM">0</field>
          </shadow>
        </value>
      </block>
      <block type="colour_blend">
        <value name="COLOUR1">
          <shadow type="colour_picker">
            <field name="COLOUR">#ff0000</field>
          </shadow>
        </value>
        <value name="COLOUR2">
          <shadow type="colour_picker">
            <field name="COLOUR">#3333ff</field>
          </shadow>
        </value>
        <value name="RATIO">
          <shadow type="math_number">
            <field name="NUM">0.5</field>
          </shadow>
        </value>
      </block>
    </category>
    <sep></sep>
    <category name="%{BKY_CATVARIABLES}" colour="%{BKY_VARIABLES_HUE}" custom="VARIABLE"></category>
    <category name="%{BKY_CATFUNCTIONS}" colour="%{BKY_PROCEDURES_HUE}" custom="PROCEDURE"></category>
  </xml>






    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>


</section>
<!-- End Banner Area -->
<!-- End Contact Area -->
<!-- Start About Area -->
<section id="blog" class="section-full gray-bg">kkkkkkkkkk
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center">
                    <p class="text-uppercase">About Our Digital Agency</p>
                    <h3>Plantronics with its GN Netcom <b>wireless headset</b> creates the next generation of wireless
                        headset and other products such as wireless amplifiers, and <b>wireless headset</b> telephone.
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure class="signle-service">
                    <img src="../static/img/s1.jpg" class="img-fluid" alt="">
                    <figcaption class="text-center">
                        <h5 class="text-uppercase">Addiction Whit Gambling</h5>
                        <p>It is a good idea to think of your PC as an office. It stores files, programs, pictures. This
                            can be compared to an actual office’s files</p>
                        <a href="#" class="primary-btn d-inline-flex align-items-center">Explore<span
                                class="lnr lnr-arrow-right"></span></a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="signle-service">
                    <img src="../static/img/s2.jpg" class="img-fluid" alt="">
                    <figcaption class="text-center">
                        <h5 class="text-uppercase">Headset No Longer Wired</h5>
                        <p>If you are in the market for a computer, there are a number of factors to consider. Will it
                            be used for your home, your office or perhaps </p>
                        <a href="#" class="primary-btn d-inline-flex align-items-center">Explore<span
                                class="lnr lnr-arrow-right"></span></a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="signle-service">
                    <img src="../static/img/s3.jpg" class="img-fluid" alt="">
                    <figcaption class="text-center">
                        <h5 class="text-uppercase">Life Advice Looking At Window</h5>
                        <p>Having a baby can be a nerve wrackingexp erience for new parents – not the nine months of
                            pregnancy, I’m talking</p>
                        <a href="#" class="primary-btn d-inline-flex align-items-center">Explore<span
                                class="lnr lnr-arrow-right"></span></a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Contact Area -->
<section id="contact" class="section-full gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase">Latest From Blog</p>
                    <h2 class="h1">Publish what you want to <br> not requires social</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mt-30">
                <p>Dramatically reintermediate effective applications after high-payoff core competencies.
                    Authoritatively optimize collaborative benefits for error-free communities. Dramatically
                    reintermediate effective applications after high-payoff core competencies. Authoritatively optimize
                    collaborative benefits for error-free communities.</p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="address mt-20">
                            <h6 class="text-uppercase mb-15">Physical Address</h6>
                            <p>Emperor Publishing,<br> 56/8, bir uttam qazi nuruzzaman <br> road, Dhaka - 1205</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="address mt-20">
                            <h6 class="text-uppercase mb-15">WEb Contact</h6>
                            <a href="tel:0000">012 (88) 017 25 656 565</a> <br>
                            <a href="tel:0000">012 (88) 017 25 656 565</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-30">
                <form id="myForm" action="mail.php" method="post" class="contact-form">
                    <div class="single-input color-2 mb-10">
                        <input type="text" name="fname" placeholder="Full Name" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Full Name'" required>
                    </div>
                    <div class="single-input color-2 mb-10">
                        <input type="email" name="email" placeholder="Email Address"
                               pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" required>
                    </div>
                    <div class="single-input color-2 mb-10">
                        <input type="text" name="subject" placeholder="Subject" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Subject'" required>
                    </div>

                    <div class="single-input color-2 mb-10">
                        <textarea name="message" placeholder="Type your message here..." onfocus="this.placeholder = ''"
                                  onblur="this.placeholder = 'Type your message here...'" required></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="mt-10 primary-btn d-inline-flex text-uppercase align-items-center">Send
                            Message<span class="lnr lnr-arrow-right"></span></button>
                    </div>
                    <div class="alert"></div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Area -->
<footer class="section-full">
    <div class="container">
        <div class="footer-bottom d-flex justify-content-between align-items-center">
            <p class="footer-text m-0">Copyright &copy; 2019 | All rights reserved to <a href="#">The RooT.</a> Designed
                by <a href="#">RooTICT</a>.</p>
            <div class="footer-social d-flex align-items-center">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--Modal: Login / Register Form-->
<div class="modal fade " id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog cascading-modal modal-lg" role="document">
        <!--Content-->
        <div class="modal-content " >


            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="modal-title" style="text-align: center"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body " id="diagshow"style="width: 80%;margin: 0 auto;">

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger refresh" data-dismiss="modal">Close</button>
            </div>
        </div>

        <!--/.Content-->
    </div>
</div>
<!--Modal: Login / Register Form-->

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" ></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="../static/js/vendor/bootstrap.min.js"></script>

<script src="../static/js/jquery.ajaxchimp.min.js"></script>
<script src="../static/js/jquery.sticky.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/mixitup.min.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/index.js"></script>


<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>


<!-- SlimScroll -->

  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
         <script type="text/javascript">


    // we use a pseudo object for the animation
    // (starts from `0` to `angle`), you can name it as you want

    $("#imgg").on('mouseover', function () {
       $({deg: 720}).animate({deg: 30}, {
        duration: 2000,
        step: function(now){
            $("#imgg").css({
                 transform: "rotatey(" + now + "deg)"
            });
        }
    });
    });


</script>
{% csrf_token %}
</body>
</html>
